{% extends 'base.html' %}
{% block title %}{{data.title}}{% endblock title %}
{% block body %}
<div class="container m-auto">
  <div class="flex justify-center">
    <div class="flex flex-col justify-center">
      <div class="flex flex-col md:flex-row max-w-7xl justify-center items-center ">
        <div class="overflow-hidden w-full m-4 shadow-sm flex flex-col md:flex-row justify-center">
          <div class="flex flex-col md:flex-row items-center">
            <div class=" w-full overflow-hidden"> <img src="{{data.image.url}}" alt="" class="" /> </div>
            <div class="md:w-2/3 m-4 ">
              <div class="flex text-gray-500 text-sm m-2">
                <div class="m-1">{{data.date_posted}}</div>
              </div>
              <div class="font-bold text-black text-xl m-2">{{data.title}} </div>
              <div class="text-sm text-gray-500 mt-4 m-2">{{data.description}}</div>
              <div class="flex cursor-pointer">
                <div class="m-2"> <img src="" alt="" class=" rounded-full" />
                </div>
                <div class="grid m-1">
                  <div class="font-bold text-sm hover:text-gray-600 mt-2">{{data.author}} </div>
                </div>
                {% if user.is_authenticated %}
                <div class="ml-5">
                  <a href="{% url 'post:upd_post' data.id %}"
                    class="bg-blue-500 hover:bg-blue-700 rounded-xl ml-2 px-2 py-3 shadow-xl font-bold text-white mt-2 text-center">Update
                    Post</a>
                  <a href="{% url 'post:del_post' data.id %}"
                    class="bg-blue-500 hover:bg-blue-700 rounded-xl ml-2 px-2 py-3 shadow-xl font-bold text-white mt-2 text-center">Delete
                    Post</a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://use.fontawesome.com/03f8a0ebd4.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</div>


{% endblock body %}