{% extends 'base.html'%}
{% block title %}Detail of {{book.name}}{% endblock title %}
{% block body %}
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img class="object-cover object-center rounded" alt="hero" src="{{book.image.url}}">
    </div>
    <div
      class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">{{book.name}}
      </h1>
      <div class="mb-8 leading-relaxed">{{book.description}}</div>
      <div class="">
        <a href="{% url 'booklist:up_book' book.id %}"
          class="bg-blue-500 hover:bg-blue-700 rounded-xl ml-2 px-2 py-3 shadow-xl font-bold text-white mt-2 text-center">Update
          Details</a>
        <a href="{% url 'booklist:del_book' book.id %}"
          class="bg-blue-500 hover:bg-blue-700 rounded-xl ml-2 px-2 py-3 shadow-xl font-bold text-white mt-2 text-center">Delete
          Book</a>
      </div>
    </div>
  </div>
</section>

{% endblock body %}

